body {
  margin: 0;
  padding: 0; }

.main {
  width: 400px;
  height: 400px;
  margin: 200px auto;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #eee;
  position: relative; }
  .main i {
    width: 6px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 198px;
    transform-origin: 2px 200px;
    background-color: #000;
    font-style: normal;
    font-size: 20px; }
    .main i:nth-child(1) {
      transform: rotate(30deg); }
    .main i:nth-child(2) {
      transform: rotate(60deg); }
    .main i:nth-child(3) {
      transform: rotate(90deg);
      background-color: transparent; }
      .main i:nth-child(3) span {
        display: block; }
      .main i:nth-child(3) span {
        transform: rotate(-90deg); }
    .main i:nth-child(4) {
      transform: rotate(120deg); }
    .main i:nth-child(5) {
      transform: rotate(150deg); }
    .main i:nth-child(6) {
      transform: rotate(180deg);
      background-color: transparent; }
      .main i:nth-child(6) span {
        display: block; }
      .main i:nth-child(6) span {
        transform: rotate(-180deg); }
    .main i:nth-child(7) {
      transform: rotate(210deg); }
    .main i:nth-child(8) {
      transform: rotate(240deg); }
    .main i:nth-child(9) {
      transform: rotate(270deg);
      background-color: transparent; }
      .main i:nth-child(9) span {
        display: block; }
      .main i:nth-child(9) span {
        transform: rotate(-270deg); }
    .main i:nth-child(10) {
      transform: rotate(300deg); }
    .main i:nth-child(11) {
      transform: rotate(330deg); }
    .main i:nth-child(12) {
      transform: rotate(360deg);
      background-color: transparent; }
      .main i:nth-child(12) span {
        display: block; }
  .main .dian {
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1; }
  .main .s, .main .f, .main .m {
    width: 8px;
    height: 70px;
    background-color: #000;
    position: absolute;
    transform-origin: bottom center;
    left: 196px;
    top: 130px;
    border-radius: 50% 50% 0 0; }
  .main .f {
    width: 6px;
    height: 100px;
    left: 197px;
    top: 100px; }
  .main .m {
    width: 4px;
    height: 120px;
    background-color: #17a05d;
    left: 198px;
    top: 80px; }
